{{ job.aboutjob }} - {{ job.aboutcompany }} <br />
{{ job.schedule }} <br />
{{ job.skill.skill }} - {{ job.skill.level }} <br />
{{ job.exp.exp }}
{{ job.exp.jobdetails }}
{{ job.exp.years }} <br />
{{ job.language.language }} - {{ job.language.level }}<br />
{{ job.salary }}

<br />

<div class="apply-btn" *ngIf="showDeleteBtn">
  <button (click)="deleteItem()" class="btn btn-danger">Delete</button>
</div>
<br />
<div class="apply-btn" *ngIf="showUpdateBtn">
  <button (click)="updateItem()" class="btn btn-success">Update</button>
</div>
<div class="apply-btn" *ngIf="showApplyBtn">
  <button (click)="apply()" class="btn btn-success">Aplica</button>
</div>
<br>
<div class="apply-btn" *ngIf="showJobDetailsBtn">
  <button (click)="openJobDetails()" class="btn btn-success">Detalii Job</button>
</div>

