.title {
  text-align: center;
}

.container {
  background-color: lightgrey;
  padding: 90px;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin: auto;
  .btn {
    margin-top: 8px;
  }
}


