<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <style>
    .mat-form-field{ width: 80%; }
</style>

</head>



<div class = "container">
    <div class = "jumbotron">

        <h1>Curriculum Vitae</h1>



<form [formGroup]="myForm">

    <!--Value: {{ myForm.value | json }} -->

    <hr>




<h2>Date personale</h2>


    <mat-form-field>
        <label>Prenume</label>
        <input matInput   formControlName="fname"  autocomplete="off">
    </mat-form-field>

    <br>

    <mat-form-field>
        <label>Nume de familie</label>
        <input matInput   formControlName="lname"  autocomplete="off">
    </mat-form-field>

    <br>

    <mat-form-field>
        <label>Email</label>
        <input matInput  formControlName="email"  autocomplete="off">
    </mat-form-field>

    <br>

    <mat-form-field>
        <label>Tara</label>
        <input matInput   formControlName="country" autocomplete="off">
    </mat-form-field>

    <br>

    <mat-form-field>
        <label>Oras</label>
        <input matInput   formControlName="town" autocomplete="off">
    </mat-form-field>

    <br>

    <mat-form-field>
        <label>Profesie</label>
        <input matInput   formControlName="profession" autocomplete="off">
    </mat-form-field>



    <h2>Hobby</h2>


    <div formArrayName="hobbie">

        <div *ngFor="let hobbie of hobbieForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <input matInput  formControlName="hobbie" autocomplete="off">
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletehobbie('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addhobbie()">Adauga</button>








    <hr>

    <h2>Aptitudini</h2>


    <div formArrayName="skill">

        <div *ngFor="let skill of skillForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <label>Aptitudine</label>
                <input matInput   formControlName="skill" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <label>Nivel de performanta</label>
                <input matInput   formControlName="level" autocomplete="off">
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deleteskill('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addskill()">Adauga</button>



    <hr>

    <h2>Limbi straine</h2>


    <div formArrayName="language">

        <div *ngFor="let language of languageForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <label>Limba straina</label>
                <mat-select formControlName="language" >
                    <mat-option value="french">Franceza</mat-option>
                    <mat-option value="german">Germana</mat-option>
                    <mat-option value="english">Engleza</mat-option>
                    <mat-option value="chinese">Chineza</mat-option>
                    <mat-option value="japanese">Japoneza</mat-option>
                    <mat-option value="corean">Coreana</mat-option>
                    <mat-option value="spanish">Spaniola</mat-option>
                    <mat-option value="romanian">Romana</mat-option>
                    <mat-option value="russian">Rusa</mat-option>
                    <mat-option value="arabic">Araba</mat-option>
                    <mat-option value="turkish">Turca</mat-option>
                    <mat-option value="italian">Italiana</mat-option>
                    <mat-option value="hungarian">Maghiara</mat-option>



                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <label>Nivel</label>
                <mat-select formControlName="level" >
                    <mat-option value="1">Cunostinte practice</mat-option>
                    <mat-option value="2">Cunostinte practice bune</mat-option>
                    <mat-option value="3">Stapanire foarte buna a limbii</mat-option>
                    <mat-option value="4">Stapanire foarte buna a limbii,scris si oral</mat-option>
                    <mat-option value="5">Nativ</mat-option>
                </mat-select>
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletelanguage('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addlanguage()">Adauga</button>


    <hr>

    <h2>Experienta</h2>
    <label>Adaugati titlul, compania si durata pentru fiecare job</label>

    <div formArrayName="job">

        <div *ngFor="let job of jobForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <label>Titlu/Pozitie</label>
                <input matInput   formControlName="title" autocomplete="off">
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <label>Introduceti durata de timp</label>
                <mat-date-range-input  [rangePicker]="picker" formGroupName = "daterange">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field> <br>

              <mat-form-field>
                  <label>Numele companiei</label>
                <input matInput    formControlName="company" autocomplete="off">
            </mat-form-field>

            <br>

            <mat-form-field>
                <label>Detalii despre job</label>
                <textarea matInput style="width: 100%;"  formControlName="details"></textarea>
            </mat-form-field>





            <button mat-raised-button color="warn" (click)="deletejob('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addjob()">Adauga</button>

    <hr>

    <h2>Educatie</h2>


    <div formArrayName="education">

        <div *ngFor="let education of educationForms.controls; let i=index" [formGroupName]="i">

            <label>Introduceti domeniul de studii</label><br>
            <mat-form-field>
                <input matInput placeholder="Ex.:Telecomunicatii"   formControlName="studies" autocomplete="off">
            </mat-form-field>


            <br>
            <mat-form-field appearance="fill">
                <label>Introduceti durata de timp</label>
                <mat-date-range-input  [rangePicker]="picker" formGroupName = "daterange">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

              <br>

              <label>Locatia</label><br>
            <mat-form-field>
                <input matInput placeholder="Ex.:Brasov"  formControlName="location" autocomplete="off">
            </mat-form-field>

            <br>

            <label>Institutia de invatamant</label><br>
            <mat-form-field>
                <input matInput placeholder="Ex.:Universitatea Transilvania"  formControlName="institution" autocomplete="off">
            </mat-form-field>

            <br>

            <mat-form-field>
                <label>Descriere/Detalii</label>
                <textarea matInput style="width: 100%;"   formControlName="description"></textarea>
            </mat-form-field>












            <button mat-raised-button color="warn" (click)="deleteeducation('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addeducation()">Adauga</button>


    <hr>


    <h2>Certificari si diplome</h2>


    <div formArrayName="certification">

        <div *ngFor="let certification of certificationForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <label>CertificareDiploma</label>
                <input matInput   formControlName="certification" autocomplete="off">
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletecertification('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addcertification()">Adauga</button>




    <hr>

    <h2>Carnet de conducere auto</h2>


    <div formArrayName="driver">

        <div *ngFor="let driver of driverForms.controls; let i=index" [formGroupName]="i">




            <mat-form-field>
                <label>Categoria</label>
                <mat-select formControlName="driver" >
                    <mat-option value="am">AM</mat-option>
                    <mat-option value="a1">A1</mat-option>
                    <mat-option value="a2">A2</mat-option>
                    <mat-option value="a">A</mat-option>
                    <mat-option value="b">B</mat-option>
                    <mat-option value="be">BE</mat-option>
                    <mat-option value="b1">B1</mat-option>
                    <mat-option value="c1">C1</mat-option>
                    <mat-option value="c1e">C1E</mat-option>
                    <mat-option value="c">C</mat-option>
                    <mat-option value="ce">CE</mat-option>
                    <mat-option value="d1">D1</mat-option>
                    <mat-option value="d1e">D1E</mat-option>
                    <mat-option value="d">D</mat-option>
                    <mat-option value="de">DE</mat-option>

                </mat-select>
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletedriver('')">Sterge</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="adddriver()">Adauga</button>


    <br>

    <hr>


    <br>


    <mat-checkbox class="Check" formControlName = "terms">Accept termenii si conditiile</mat-checkbox>

    <br>
    <br>



    <!--<button type = "submit" class = "btn btn-primary" [disabled] = "!myForm.valid">Submit</button> -->

    <input type="submit" value="Submit" [disabled]="myForm.invalid" (click)="submitData(myForm.value)"
                class="btn btn-primary">

    <br>

    <br>






</form>



</div>
</div>



