.mat-form-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

.jumbotron {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;


}
img.avatar {
width: 40%;
border-radius: 50%;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

.btn{
background-color: #000000;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}