<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="jumbotron">
    <div class="imgcontainer">
      <h1>Autentificare</h1>
      <img src="../../assets/img/avatar.png" alt="Avatar" class="avatar" />
    </div>
    <form [formGroup]="authForm" (ngSubmit)="onLogin()">
      <mat-form-field>
        <h2>Email</h2>
        <input matInput formControlName="email" autocomplete="off" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <h2>Parola</h2>
        <input matInput type="password" formControlName="password" autocomplete="off" />
      </mat-form-field>
      <br />
      <br />
      <button class="btn btn-primary" type="submit">Login</button>
      <br />
      <br />
      <a routerLink="/register">Creeaza un cont nou!</a>
    </form>
  </div>
</div>
