<h2 style="text-align:center">Bun venit pe profil!</h2>

<div class="card">
  <img src="../../assets/img/avatar5.jfif" alt="Avatar" class="avatar" />
  <h1>Angajator</h1>
  <p class="title">Joburi adaugate</p>
  <div *ngIf="jobs.length > 0">
    <app-job-item *ngFor="let job of jobs; let i = index" [job]="job" [showDeleteBtn]="true"
      (deleted)=" deleteItem($event)" [jobIndex]="i" [showUpdateBtn]="true" (update)="updateItem($event)"></app-job-item>
  </div>
  <p><button (click)="redirectJobReq()">Adauga Job</button></p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>


