
<head>
    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <style>
      .mat-form-field{ width: 80%; }
  </style>

</head>

<div class = "container">
    <div class = "jumbotron">

        <h1>Job Description</h1>

        <hr>

        <form [formGroup]="myForm">

            <!--Value: {{ myForm.value | json }} -->
        
            


            <h2>About Company</h2>

    
            <mat-form-field>
                <textarea matInput placeholder="About Company" formControlName="aboutcompany"></textarea>
            </mat-form-field>


            <hr>


            <h2>About Job</h2>

            <mat-form-field>
                <textarea matInput style="width: 100%;" placeholder="About Job" formControlName="aboutjob"></textarea>
            </mat-form-field>

            <h2>Job Schedule</h2>

            <mat-form-field>
                <mat-select formControlName="schedule" placeholder="Schedule">
                    <mat-option value="fulltime">Full-Time</mat-option>
                    <mat-option value="parttime">Part-Time</mat-option>
                </mat-select>
            </mat-form-field>

            <hr>

            <h2>Requests</h2>

            <h2>Skills</h2>
    

    <div formArrayName="skill">

        <div *ngFor="let skill of skillForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <input matInput placeholder="skill" formControlName="skill" autocomplete="off">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="mastering/percent" formControlName="level" autocomplete="off">
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deleteskill('')">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addskill()">Add Skill</button>


    <br>

    <br>

    <br>



    <h2>Languages</h2>


    <div formArrayName="language">

        <div *ngFor="let language of languageForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <mat-select formControlName="language" placeholder="language">
                    <mat-option value="french">French</mat-option>
                    <mat-option value="german">German</mat-option>
                    <mat-option value="english">English</mat-option>
                    <mat-option value="chinese">Chinese</mat-option>
                    <mat-option value="japanese">Japanese</mat-option>
                    <mat-option value="corean">Corean</mat-option>
                    <mat-option value="spanish">Spanish</mat-option>
                    <mat-option value="romanian">Romanian</mat-option>
                    <mat-option value="russian">Ruski</mat-option>
                    <mat-option value="arabic">Arabic</mat-option>
                    <mat-option value="turkish">Turkish</mat-option>
                    <mat-option value="italian">Italian</mat-option>
                    <mat-option value="hungarian">Hungarian</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="level" placeholder="level">
                    <mat-option value="working-knowledge">Working knowledge</mat-option>
                    <mat-option value="good-working-knowledge">Good working knowledge</mat-option>
                    <mat-option value="very-good-command">Very good command</mat-option>
                    <mat-option value="highly-proficient-s-w">Highly proficient in speaking and writing</mat-option>
                    <mat-option value="native">Native</mat-option>
                </mat-select>
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletelanguage('')">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addlanguage()">Add Language</button>


    <br>
    <br>
    <br>

    <h2>Experience</h2>
    <label>Add domain, years of experience and job details</label>

    <div formArrayName="exp">

        <div *ngFor="let exp of expForms.controls; let i=index" [formGroupName]="i">

            
            <mat-form-field>
                <input matInput placeholder="job" formControlName="exp" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="years" placeholder="years of experience">
                    <mat-option value="1year">1 Year</mat-option>
                    <mat-option value="2years">2 Years</mat-option>
                    <mat-option value="3years">3 Years</mat-option>
                    <mat-option value="4years">4 Years</mat-option>
                    <mat-option value="5years+">5 or more Years</mat-option>

                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field>
                <textarea matInput style="width: 100%;" placeholder=" Job Details" formControlName="jobdetails"></textarea>
            </mat-form-field>

        

            <button mat-raised-button color="warn" (click)="deleteexp('')">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addexp()">Add Job</button>


    <br>
    <br>
    <br>

    <h2>Certifications and diplomas</h2>
    

    <div formArrayName="certification">

        <div *ngFor="let certification of certificationForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field>
                <input matInput placeholder="certification/diploma" formControlName="certification" autocomplete="off">
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletecertification('')">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addcertification()">Add Certification/Diploma</button>


    <br>
    <br>
    <br>


    <h2>Driver's License</h2>
    

    <div formArrayName="driver">

        <div *ngFor="let driver of driverForms.controls; let i=index" [formGroupName]="i">


            

            <mat-form-field>
                <mat-select formControlName="driver" placeholder="License">
                    <mat-option value="am">AM</mat-option>
                    <mat-option value="a1">A1</mat-option>
                    <mat-option value="a2">A2</mat-option>
                    <mat-option value="a">A</mat-option>
                    <mat-option value="b">B</mat-option>
                    <mat-option value="be">BE</mat-option>
                    <mat-option value="b1">B1</mat-option>
                    <mat-option value="c1">C1</mat-option>
                    <mat-option value="c1e">C1E</mat-option>
                    <mat-option value="c">C</mat-option>
                    <mat-option value="ce">CE</mat-option>
                    <mat-option value="d1">D1</mat-option>
                    <mat-option value="d1e">D1E</mat-option>
                    <mat-option value="d">D</mat-option>
                    <mat-option value="de">DE</mat-option>

                </mat-select>
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="deletedriver('')">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="adddriver()">Add Driver's License</button>

    <hr>


    <mat-checkbox class="Check" formControlName = "terms">I agree to the terms and conditions!</mat-checkbox>

    <br>
    <br>



    <input type="submit" value="Submit" [disabled]="myForm.invalid" (click)="submitData(myForm.value)"
                class="btn btn-primary">



            </form>

    

    </div>
</div>