<div class="container">
  <div class="jumbotron">
    <h1>Descriere job</h1>

    <hr />

    <form [formGroup]="myForm">
      <!--Value: {{ myForm.value | json }} -->

      <h2>Despre companie</h2>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Nume companie"
          formControlName="aboutcompany"
          [(ngModel)]="job.aboutcompany"
        ></textarea>
      </mat-form-field>

      <hr />

      <h2>Despre job</h2>

      <mat-form-field>
        <textarea
          matInput
          style="width: 100%"
          placeholder="Nume job/Titlu"
          formControlName="aboutjob"
          [(ngModel)]="job.aboutjob"
        ></textarea>
      </mat-form-field>

      <h2>Salariu</h2>

      <mat-form-field>
        <textarea
          matInput
          style="width: 100%"
          placeholder="Salariu"
          formControlName="salary"
          [(ngModel)]="job.salary"
        ></textarea>
      </mat-form-field>

      <h2>Program job</h2>

      <mat-form-field>
        <mat-select [(ngModel)]="job.schedule" formControlName="schedule" placeholder="Program">
          <mat-option value="fulltime">Full-Time</mat-option>
          <mat-option value="parttime">Part-Time</mat-option>
        </mat-select>
      </mat-form-field>

      <hr />

      <h2>Cerinte</h2>

      <h2>Aptitudini</h2>

      <div formArrayName="skill">
        <div
          *ngFor="let skill of skillForms.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="Aptitudine"
              formControlName="skill"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field>
            <label>Nivel de performanta</label>
            <mat-select formControlName="level" >
                <mat-option value="0">Incepator</mat-option>
                <mat-option value="1">Intermediar</mat-option>
                <mat-option value="2">Avansat
                </mat-option>
            </mat-select>
        </mat-form-field>

          <button mat-raised-button color="warn" (click)="deleteskill('')">
            Sterge
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addskill()">
        Adauga
      </button>

      <br />

      <br />

      <br />

      <h2>Limbi straine</h2>

      <div formArrayName="language">
        <div
          *ngFor="let language of languageForms.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <label>Limba straina</label>
            <mat-select formControlName="language">
              <mat-option value="french">Franceza</mat-option>
              <mat-option value="german">Germana</mat-option>
              <mat-option value="english">Engleza</mat-option>
              <mat-option value="chinese">Chineza</mat-option>
              <mat-option value="japanese">Japoneza</mat-option>
              <mat-option value="corean">Coreana</mat-option>
              <mat-option value="spanish">Spaniola</mat-option>
              <mat-option value="romanian">Romana</mat-option>
              <mat-option value="russian">Rusa</mat-option>
              <mat-option value="arabic">Araba</mat-option>
              <mat-option value="turkish">Turca</mat-option>
              <mat-option value="italian">Italiana</mat-option>
              <mat-option value="hungarian">Maghiara</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <label>Nivel</label>
            <mat-select formControlName="level">
              <mat-option value="0">Cunostinte practice</mat-option>
              <mat-option value="1">Cunostinte practice bune</mat-option>
              <mat-option value="2">Stapanire foarte buna a limbii</mat-option>
              <mat-option value="3">Stapanire foarte buna a limbii,scris si oral</mat-option>
              <mat-option value="4">Nativ</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="warn" (click)="deletelanguage('')">
            Sterge
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addlanguage()">
        Adauga
      </button>

      <br />
      <br />
      <br />

      <h2>Experienta</h2>
      <label>Adauga domeniul, anii de experienta si detalii despre job</label>

      <div formArrayName="exp">
        <div
          *ngFor="let exp of expForms.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="job"
              formControlName="exp"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="years" placeholder="ani de experienta">
              <mat-option value="1">1 an</mat-option>
              <mat-option value="2">2 ani</mat-option>
              <mat-option value="3">3 ani</mat-option>
              <mat-option value="4">4 ani</mat-option>
              <mat-option value="5">5 ani +</mat-option>
            </mat-select>
          </mat-form-field>

          <br />

          <mat-form-field>
            <textarea
              matInput
              style="width: 100%"
              placeholder="Despre Job"
              formControlName="jobdetails"
            ></textarea>
          </mat-form-field>

          <button mat-raised-button color="warn" (click)="deleteexp('')">
            Sterge
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addexp()">
        Adauga
      </button>

      <br />
      <br />
      <br />

      <h2>Certificari si diplome</h2>

      <div formArrayName="certification">
        <div
          *ngFor="
            let certification of certificationForms.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="certificare/diploma"
              formControlName="certification"
              autocomplete="off"
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="warn"
            (click)="deletecertification('')"
          >
            Sterge
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addcertification()">
        Adauga
      </button>

      <br />
      <br />
      <br />

      <h2>Carnet de conducere auto</h2>

      <div formArrayName="driver">
        <div
          *ngFor="let driver of driverForms.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <mat-select formControlName="driver" placeholder="Categorie">
              <mat-option value="am">AM</mat-option>
              <mat-option value="a1">A1</mat-option>
              <mat-option value="a2">A2</mat-option>
              <mat-option value="a">A</mat-option>
              <mat-option value="b">B</mat-option>
              <mat-option value="be">BE</mat-option>
              <mat-option value="b1">B1</mat-option>
              <mat-option value="c1">C1</mat-option>
              <mat-option value="c1e">C1E</mat-option>
              <mat-option value="c">C</mat-option>
              <mat-option value="ce">CE</mat-option>
              <mat-option value="d1">D1</mat-option>
              <mat-option value="d1e">D1E</mat-option>
              <mat-option value="d">D</mat-option>
              <mat-option value="de">DE</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="warn" (click)="deletedriver('')">
            Sterge
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="adddriver()">
        Adauga
      </button>

      <hr />

      <mat-checkbox class="Check" formControlName="terms"
        >Accept termenii si conditiile</mat-checkbox
      >

      <br />
      <br />

      <input
        *ngIf="!job.createdBy"
        type="submit"
        value="Submit"
        [disabled]="myForm.invalid"
        (click)="submitData(myForm.value)"
        class="btn btn-primary"
      />
    </form>
    <button (click)="updateJob()" class="btn btn-success" *ngIf="job.createdBy">Save</button>
  </div>
</div>

