<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>





<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b>Rolul aplicatiei</b></h1>
      <h3 class="w3-padding-32"><b>Aplicatia va stoca datele din formularul de CV completat, intr-o baza de date.
        Tot intr-o baza de date se vor stoca fisele de post ale angajatorilor.</b></h3>

      <p class="w3-text-grey"><b>Fisele de post vor consta in cerinte pe care angajatorul le va avea de la candidati.
        Fiecare cerinta va avea o pondere/procent, in functie de pretentiile angajatorului.
        Totalul ponderilor tuturor cerintelor nu va putea depasi valoarea de 100%.
        Aplicatia va compara CV-ul candidatului cu fisa postului, rezultatul fiind adaugat intr-un clasament(vor fi afisate rezultate in ordine descrescatoare).
        In functie de aceste rezultate angajatorul va decide ce candidati vor fi chemati ulterior pentru interviu. </b></p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-black"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-black w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1><b>Cum functioneaza</b></h1>
      <h3 class="w3-padding-32"><b>CV-ul va fi sub forma unui formular ce va fi completat de catre candidat sau persoana HR autorizata.Acest formular va fi trimis catre o baza de date ce va stoca CV-urile tuturor candidatilor inscrisi.</b></h3>

      <p class="w3-text-grey"><b>In alta baza de date se vor stoca fisele de post ale angajatorilor, ce vor contine cerintele pentru postul respectiv.Fiecarei cerinte i se va atribui un procent, tinand cont de faptul ca totalul acestora nu poate depasi valoarea de 100%.
        Angajatul HR va vedea pe ecran simultan CV-ul candidatului si fisa postului respectiv, ambele fiind luate din baza de date, si va bifa caracteristicile candidatului ce corespund cu cerintele din fisa postului.Aplicatia va calcula scorul si rezultatul va fi trimis intr-o alta baza de date cu rol de clasament, unde vor fi stocate in ordine descrescatoare rezultatele tuturor candidatilor analizati.
        In acest mod le va fi mai usor angajatorilor sa aleaga ce candidati vor fi ulterior chemati la interviul de angajare.</b></p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Don't work hard, work smart!</h1>
</div>



</body>
</html>
