
<h2 style="text-align:center">Bun venit pe profil!</h2>

<div class="card">
  <img src="../../assets/img/avatar5.jfif" alt="Avatar" class="avatar" />
  <h1>Angajat</h1>
  <p class="title">Ai aplicat pentru:</p>
  <ng-container *ngIf="jobs.length > 0">
    <app-job-item
      *ngFor="let job of jobs; let i = index"
      [job]="job"
      [jobIndex]="i"
      [showDeleteBtn]="true"
      (deleted)="deleteItem($event)"
    ></app-job-item>
  </ng-container>
  <p><button (click)="redirectCV()">Adauga CV</button></p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>
