
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<h1 style="color:black">HELLO FUTURE EMPLOYEE!</h1>


<div>
  <input type = "button" value = "Adauga CV" (click)="redirectCV()" class = "btn btn-primary" >
</div>
<br>

<h1>Ai aplicat pentru:</h1>
<ng-container *ngIf="jobs.length > 0">
  <app-job-item *ngFor="let job of jobs" [job]="job"></app-job-item>
</ng-container>
